*.o
*.qmlproject.user
Makefile
Makefile.Debug
Makefile.Release
release
debug
liri-calculator
qrc_liri-calculator.cpp
liri-calculator_resource.rc
liri-calculator.pro.user
release/
debug/
Win32/
GeneratedFiles/
*.sdf
*.v12.suo
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.rc
*.opensdf
src/.DS_Store
.qmake.stash
liri-calculator.app
.DS_Store
